//App colors

//$primary: #29abe2;
//$background: #f5f5f5;


$primary-background: #1e1e1e; /*rgb(32, 35, 42);*/
$secondary-background: rgb(59, 66, 82);
$terciary-background: rgb(46, 52, 64);

$font-color: rgb(216, 222, 233);

$fill-blue: #ceeef8;
$background: rgb(59, 66, 82);
