@import "./src/assets/scss/master";

.private-layout {
  ::ng-deep {
    .p-sidebar {
      box-shadow: none;
      background-color: $primary-background;
      position: relative;
      
    }
    .p-sidebar-left {
        top:auto;
        width: auto;
    }

    .content {
      background-color: $secondary-background;
      color: $font-color;
    }
  }
}
