.tab {
    background: none;
    color: #9FA8DA;
    border-color: #9FA8DA;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-radius: 4px 4px 0px 0px;
}

.selected {
    background: #9FA8DA;
    color: #121212;
    border: 0 none;
} 

.info-zone {
    background: none;
    border: 1px solid #9FA8DA;
    border-radius: 0px 4px 4px 4px;
    padding: 10px; 
    height: calc(100vh - 385px);
}


.history-event {

    .history-event-tip {
        padding-bottom: 0.6em;

        .history-event-message {
            border: 0px;
            border-left: 6px;
            border-color: #9FA8DA;
            border-style: solid;
            background-color: rgb(89, 96, 112);
            border-radius: 3px;
            padding: 0.6em 0.4em;
            cursor: pointer;
        }
    }

    &:hover {

        .history-event-tip {
            .history-event-message {
                background-color: rgb(105, 110, 130);
                border-color: #7F7FFF;
            }
        }
    }
}

