
<div class="content">
    <div class="legend">
        <div class="legend-text">
            <p>Cuenta la leyenda, que una legendaria espada quedó olvidada en las ruinas del Castillo Javascript.</p>
            <p>Miles de guerreros han emprendido la búsqueda de la espada, cuyo poder otorga habilidades extraordinarias de Javascript.</p>
            <p><br/></p>
            <p>No importa si eres nuevo o un guru de Javascript, cualquiera puede buscar el poder de la espada. ¿Serás tu quien la encuentre?</p>
            <p style="text-align:center"><button pButton class="primary mt-4" (click)="start()">Empieza tu aventura</button></p>
        </div>
    </div>

    <div class="castle">
        <div class="castle-row">
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile cloud"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile sword in-castle"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile cloud"></div>
        </div>
        <div class="castle-row">
            <div class="tile none"></div>
            <div class="tile cloud"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile top1"></div>
            <div class="tile top1"></div>
            <div class="tile top1"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile cloud"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
        </div>
        <div class="castle-row">
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile cloud"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile wall1"></div>
            <div class="tile cross"></div>
            <div class="tile wall1"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
        </div>
        <div class="castle-row">
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile wall1"></div>
            <div class="tile wall1"></div>
            <div class="tile wall1"></div>
            <div class="tile top1"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
        </div>
        <div class="castle-row">
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile wall1"></div>
            <div class="tile wall1"></div>
            <div class="tile wall1"></div>
            <div class="tile window3"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
        </div>
        <div class="castle-row">
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile wall1"></div>
            <div class="tile window1"></div>
            <div class="tile wall1"></div>
            <div class="tile balcony4"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile bat"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile bat"></div>
        </div>
        <div class="castle-row">
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile balcony1"></div>
            <div class="tile wall1"></div>
            <div class="tile wall1"></div>
            <div class="tile wall1"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile bat"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
        </div>
        <div class="castle-row">
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile window3"></div>
            <div class="tile wall1"></div>
            <div class="tile wall1"></div>
            <div class="tile window1"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
        </div>
        <div class="castle-row">
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile balcony2"></div>
            <div class="tile wall1"></div>
            <div class="tile wall1"></div>
            <div class="tile wall1"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
        </div>
        <div class="castle-row">
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile wall1"></div>
            <div class="tile window1"></div>
            <div class="tile wall1"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
        </div>
        <div class="castle-row">
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile wall1"></div>
            <div class="tile wall1"></div>
            <div class="tile wall1"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
        </div>
        <div class="castle-row">
            <div class="tile tree5"></div>
            <div class="tile none"></div>
            <div class="tile tree3"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile fire"></div>
            <div class="tile none"></div>
            <div class="tile player"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile none"></div>
            <div class="tile wall1"></div>
            <div class="tile door"></div>
            <div class="tile wall1"></div>
            <div class="tile none"></div>
            <div class="tile tree1"></div>
            <div class="tile none"></div>
            <div class="tile tree4"></div>
            <div class="tile none"></div>
            <div class="tile tree1"></div>
            <div class="tile none"></div>
            <div class="tile tree1"></div>
            <div class="tile none"></div>
            <div class="tile tree4"></div>
        </div>
    </div>
</div>