@import "./src/assets/scss/master";
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");



html, body { height: 100%; } 
body { 
    background-color: $primary-background;
    color: $font-color;
    padding: 0;
    margin: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: "Source Code Pro", sans-serif; 
}


.info-tag {
    background-color: rgb(79, 86, 102);
    border-radius: 3px;
    color: rgb(235, 203, 139);
    font-size: 0.9rem;
    padding: 0.1em 0.2em;
}


.info-tip {
    border: 0px;
    border-left: 6px;
    border-color: #9FA8DA;
    border-style: solid;
    background-color: rgb(89, 96, 112);
    border-radius: 3px;
    font-size: 1.1rem;
    padding: 0.2em 0.4em;
    margin-top: 0.6em;
    margin-bottom: 0.4em;
}


.progress-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
}

